.room {
	position: fixed;
	bottom: 1.5rem;
	right: 2rem;
}

.room-btn {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5rem;
	font-weight: normal;
	background-color: transparent;
	cursor: pointer;

	border: 2px solid rgba(255, 255, 255, 0);
	border-top: 2px solid white;
	width: 15rem;
	height: 3rem;
	transition:
		width 0.75s,
		height 0.75s,
		border 0.75s;
}

.room-btn h2 {
	font-size: 1.5rem;
}

.room-btn.expanded {
	width: 22rem;
	height: 28rem;
	border: 2px solid white;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border-radius: 12px;
	padding: 0;
	cursor: default;
}

.room-btn .row {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
}

.room-btn .divider {
	width: 100%;
	border-bottom: 1px solid white;
	margin-bottom: 1rem;
	opacity: 0.25;
}

.minimize-btn {
	transform: scaleX(1.75) translateY(5px);
	font-size: 0.9rem;
	opacity: 0.9;
}

.room-code-title {
	margin-top: 6rem;
	text-decoration: underline;
}

.room-btn-group {
	margin-top: auto;
	margin-bottom: 1rem;
	display: flex;
}

.room-btn-group button {
	border: 2px solid white;
	background-color: transparent;
	color: white;
	padding: 0.5rem 3.5rem;
	cursor: pointer;
	border-right: none;
	font-size: 1rem;
}

.room-btn-group button:last-child {
	border-right: 2px solid white;
}

.room-btn-group button:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.room-btn-group button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
