.room-title {
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	cursor: pointer;
}

.room-title h1 {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 2rem;
}

.room-title input {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 2rem;
	background-color: transparent;
	border: none;
}
