.settings {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	cursor: pointer;
}

.settings-btn {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
	font-weight: normal;
}

.settings-icon {
	filter: invert();
	width: 1.65rem;
	margin-bottom: 1px;
}

.screen-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	cursor: default;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.screen-overlay.visible {
	opacity: 1;
	pointer-events: auto;
}

.settings-menu {
	background-color: black;
	color: white;
	border: 2px solid white;
	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	border-radius: 8px;
	padding: 1rem;
	cursor: default;
	display: flex;
	gap: 4rem;
	min-width: 32rem;

	opacity: 0;
	pointer-events: none;
	transition:
		opacity 0.5s,
		transform 0.5s;
}

.settings-menu.visible {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%);
}

.settings-menu .tabs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.settings-menu .tabs button {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	text-align: start;
	width: fit-content;
}

.settings-menu .content {
	display: flex;
	flex-direction: column;
}

.settings-menu .tabs button.active {
	background-color: rgb(85, 85, 85);
}

.settings-menu .content .timer-row {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.timer-row .pomo-col,
.timer-row .short-col,
.timer-row .long-col {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.timer-row input {
	width: 5rem;
	padding: 0.1rem 0.2rem;
}

.settings-menu .content .btn-row {
	display: flex;
	justify-content: space-between;
}

.settings-menu .content .btn-row .reset-btn {
	border-radius: 12px;
	background-color: transparent;
	color: red;
	border: 2px solid red;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.settings-menu .content .btn-row .save-btn {
	border-radius: 12px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.settings-menu .content select {
	margin-bottom: 1rem;
}

.volume-input {
	cursor: pointer;
}
