.settings {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	cursor: pointer;
}

.settings-btn {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
	font-weight: normal;
}

.settings-icon {
	filter: invert();
	width: 1.65rem;
	margin-bottom: 1px;
}

.screen-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	cursor: default;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.screen-overlay.visible {
	opacity: 1;
	pointer-events: auto;
}

.settings-menu {
	background-color: white;
	color: black;
	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	border-radius: 8px;
	padding: 1rem;
	cursor: default;
	display: flex;
	gap: 4rem;

	opacity: 0;
	pointer-events: none;
	transition:
		opacity 0.5s,
		transform 0.5s;
}

.settings-menu.visible {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%);
}

.settings-menu .tabs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.settings-menu .tabs button {
	background-color: transparent;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	text-align: start;
	width: fit-content;
}

.settings-menu .content {
	display: flex;
	flex-direction: column;
}
