.tasks {
	position: fixed;
	bottom: 1.5rem;
	left: 2rem;
}

.taskbar {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5rem;
	font-weight: normal;
	background-color: transparent;
	cursor: pointer;

	border: 2px solid rgba(255, 255, 255, 0);
	border-top: 2px solid white;
	width: 15rem;
	height: 3rem;
	transition:
		width 0.75s,
		height 0.75s,
		border 0.75s;
}

.taskbar h2 {
	font-size: 1.5rem;
}

.taskbar.expanded {
	width: 22rem;
	height: 28rem;
	border: 2px solid white;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border-radius: 12px;
	padding: 0;
	cursor: default;
}

.taskbar .row {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
}

.minimize-btn {
	transform: scaleX(1.75) translateY(5px);
	font-size: 0.9rem;
	opacity: 0.9;
}

.taskbar .divider {
	width: 100%;
	border-bottom: 1px solid white;
	margin-bottom: 1rem;
	opacity: 0.25;
}

.task-items {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	gap: 0.75rem;
	padding: 0 1rem 0 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	overflow-y: auto;
}

.task-items .task-container {
	border-radius: 8px;
	width: 100%;
	padding: 0.75rem;
	background-color: rgb(45, 45, 45);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task-container .circle {
	width: 0.9rem;
	height: 0.9rem;
	border: 2px solid white;
	background-color: rgb(45, 45, 45);
	border-radius: 50%;
	cursor: pointer;
}

.task-container .checked {
	background-color: purple;
}

.task-container .task-checked {
	text-decoration: line-through;
	color: gray;
}

.task-container .left-section {
	display: flex;
	gap: 0.5rem;
}

.task {
	user-select: none;
	cursor: pointer;
	font-size: 0.85rem;
}

.task-btns {
	display: flex;
	gap: 1.15rem;
	opacity: 0;
	transition: opacity 0.25s;
}

.task-container:hover .task-btns {
	opacity: 1;
}

.task-btns img {
	width: 1rem;
	filter: invert(0.75);
	cursor: pointer;
	transition: filter 0.25s;
}

.task-btns img:hover {
	filter: invert(1);
}

.task-container .task-input {
	background-color: transparent;
	color: white;
	flex: 1;
	font-size: 0.85rem;
	border: none;
	font-family: "Roboto", sans-serif;
	margin-right: 0.5rem;
}

.tasks .add-task-btn {
	background-color: transparent;
	color: white;
	padding: 0.75rem;
	font-weight: bold;
	border: 2px solid white;
	width: 90%;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 1rem;
}

.tasks .add-task-row {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-bottom: 1rem;
}

.tasks .add-task-row input {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 8px;
	padding: 0 0.25rem;
	outline: none;
}

.tasks .add-task-row button {
	padding: 0.5rem;
	border-radius: 8px;
	cursor: pointer;
}
