.tasks {
	position: absolute;
	bottom: 1.5rem;
	left: 2rem;
}

.tasks-btn {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
	font-weight: normal;
	background-color: transparent;
	cursor: pointer;

	border: none;
	border-top: 2px solid white;
	padding: 0.5rem 5rem;
}
