.tasks {
	position: fixed;
	bottom: 1.5rem;
	left: 2rem;
}

.taskbar {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5rem;
	font-weight: normal;
	background-color: transparent;
	cursor: pointer;

	border: 2px solid rgba(255, 255, 255, 0);
	border-top: 2px solid white;
	width: 15rem;
	height: 3rem;
	transition:
		width 0.75s,
		height 0.75s,
		border 0.75s;
}

.taskbar h2 {
	font-size: 1.5rem;
}

.taskbar.expanded {
	width: 22rem;
	height: 22rem;
	border: 2px solid white;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border-radius: 12px;
	padding: 0;
	cursor: default;
}

.taskbar .row {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
}

.minimize-btn {
	transform: scaleX(1.75) translateY(5px);
	font-size: 0.9rem;
	opacity: 0.9;
}

.taskbar .divider {
	width: 100%;
	border-bottom: 1px solid white;
	margin-bottom: 1rem;
	opacity: 0.25;
}

.task-items {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	gap: 1rem;
	padding: 0 1rem 0 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

.task-items .task {
	border-radius: 8px;
	width: 100%;
	padding: 0.75rem;
	background-color: rgb(44, 44, 44);
}
